<div fxLayout="row">

    <div fxFlex="15" class="centrar">
       <mat-icon>{{ data?.icon }}</mat-icon> 
    </div>
    <div fxFlex="85" class="centrar">
        <span>{{ data?.message }}</span>
    </div>
</div>


<!-- <div class="snack-container box-{{getIcon?.type}}">
    <div class="snack-container-message">
      <div>
        <i class="fas {{getIcon?.icon}}"></i>
      </div>
      <div>
        <span>{{data.message}}</span>
      </div>
    </div>
    <div class="snack-container-icon">
      <i class="fas close" (click)="closeSnackbar()"></i>
    </div>
  </div> -->